<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.evjy.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.evjy.entity.SysUser">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="lastLoginIp" column="last_login_ip" jdbcType="VARCHAR"/>
        <result property="lastLoginDate" column="last_login_date" jdbcType="TIMESTAMP"/>
        <result property="logicDeleteFlag" column="logic_delete_flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,password,
        phone_number,email,avatar,
        status,create_time,update_time,
        last_login_ip,last_login_date,logic_delete_flag
    </sql>
</mapper>
